.classpath
.project
.settings
target
.idea
QRServices.iml
/src/main/webapp/bower_components
/src/main/resources/hibernate.cfg.xml
/META-INF/application.xml
conception/database.dia.autosave
conception/database.dia~
conception/database.dia.autosave
conception/sequence_service.dia~
conception/.~lock.documentation_utilisateur.odt#
